<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Gestión de Horario Médico</h5>
      <div class="table-container">
        <table class="custom-table">
          <thead>
            <tr class="header-row">
              <th class="button-cell" [attr.rowspan]="maxRows.length + 1">
                <button pButton type="button" icon="pi pi-arrow-left" class="vertical-button" (click)="prevWeek()"></button>
              </th>
              <th *ngFor="let day of weekDays" class="header-cell">{{ day | titlecase }}<br>{{ weekDates[day] | date: 'dd MMM' }}</th>
              <th class="button-cell" [attr.rowspan]="maxRows.length + 1">
                <button pButton type="button" icon="pi pi-arrow-right" class="vertical-button" (click)="nextWeek()"></button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of maxRows; let i = index">
              <td class="empty-cell"></td> <!-- Columna vacía para mantener el espacio del botón izquierdo -->
              <td *ngFor="let day of weekDays">
                <ng-container *ngIf="appointments[day][i]; else emptyCell">
                  <div class="appointment-cell">
                    <div class="appointment-description">{{ appointments[day][i].description }}</div>
                    <button type="button" pButton icon="pi pi-chevron-down" class="appointment-button" (click)="toggleMenu($event, menu)"></button>
                    <p-menu #menu [popup]="true" [model]="appointmentMenu(appointments[day][i])" [appendTo]="'body'" (onItemClick)="confirmDeleteAppointment(appointments[day][i])"></p-menu>
                  </div>
                </ng-container>
                <ng-template #emptyCell>
                  <!-- Celda vacía -->
                </ng-template>
              </td>
              <td class="empty-cell"></td> <!-- Columna vacía para mantener el espacio del botón derecho -->
            </tr>
          </tbody>
        </table>
      </div>
      <button pButton type="button" icon="pi pi-plus" label="Crear Cita" class="create-appointment-button" (click)="showDialog()"></button>
    </div>
  </div>
</div>

<p-dialog header="Nueva Cita" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '300px'}">
  <div class="form-group">
    <label for="fecha">Fecha</label>
    <input type="date" pInputText id="fecha" [(ngModel)]="newAppointmentDate">
  </div>
  <div class="form-group">
    <label for="hora">Hora</label>
    <input type="time" pInputText id="hora" [(ngModel)]="newAppointmentTime">
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Crear" (click)="createAppointment()"></button>
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="display=false"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Cancelar Cita" [(visible)]="displayCancel" [modal]="true" [responsive]="true" [style]="{width: '300px'}">
  <div class="form-group modal-content">
    <label for="motivoCancelacion">Motivo de Cancelación</label>
    <textarea id="motivoCancelacion" [(ngModel)]="cancelReason" pInputTextarea required class="cancel-textarea"></textarea>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Confirmar" (click)="deleteAppointment()"></button>
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="closeCancelDialog()"></button>
  </p-footer>
</p-dialog>
