<div class="container">
    <div class="text-center mb-5">
      <div class="text-900 text-3xl font-medium mb-3">Citas Disponibles</div>
      <span class="text-600 font-medium">Seleccione y agende una cita</span>
    </div>
  
    <!-- Filtros de búsqueda -->
    <div class="formgroup-inline filters">
        <div class="field">
            <label for="especialidad" class="block text-900 text-xl font-medium mb-2">Especialidad</label>
            <p-dropdown id="especialidad" [options]="especialidades" [(ngModel)]="filters.especialidad" placeholder="Seleccione una especialidad" class="w-full"></p-dropdown>
        </div>        
      <div class="field">
        <label for="medico" class="block text-900 text-xl font-medium mb-2">Médico</label>
        <input pInputText id="medico" type="text" placeholder="Nombre del médico" [(ngModel)]="filters.medico" class="w-full"/>
      </div>
    </div>
    <button pButton pRipple label="Buscar" class="w-full p-3 text-xl full-width" (click)="buscarCitas()"></button>
  
    <!-- Lista de citas disponibles -->
    <div *ngFor="let cita of citasDisponibles" class="surface-card card">
      <div class="flex justify-content-between align-items-center">
        <div>
          <div class="text-xl font-medium">{{ cita.medico }}</div>
          <div>{{ cita.especialidad }}</div>
          <div>{{ cita.fecha | date }}</div>
          <div>{{ cita.hora }}</div>
        </div>
        <button pButton pRipple label="Agendar" class="p-button-success" (click)="agendarCita(cita.citaId)"></button>
      </div>
    </div>
  </div>
  