<ul class="layout-menu">
    <ng-container *ngIf="isDoctorRoute; else patientMenu">
        <ng-container *ngFor="let item of doctorModel; let i = index;">
            <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
            <li *ngIf="item.separator" class="menu-separator"></li>
        </ng-container>
    </ng-container>
    <ng-template #patientMenu>
        <ng-container *ngIf="isPatientRoute; else defaultMenu">
            <ng-container *ngFor="let item of patientModel; let i = index;">
                <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
                <li *ngIf="item.separator" class="menu-separator"></li>
            </ng-container>
        </ng-container>
    </ng-template>
    <ng-template #defaultMenu>
        <ng-container *ngFor="let item of model; let i = index;">
            <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
            <li *ngIf="item.separator" class="menu-separator"></li>
        </ng-container>
    </ng-template>
</ul>
