.paciente-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .paciente-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .paciente-info p {
    margin: 5px 0;
  }
  
  .nueva-historia {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .nueva-historia label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .nueva-historia input, .nueva-historia textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .nueva-historia button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .nueva-historia button:hover {
    background-color: #0056b3;
  }
  
  .historias {
    width: 100%;
    max-width: 600px;
  }
  
  .historia-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .historia-card p {
    margin: 5px 0;
  }
  